WebApplication/Connected Services/AdminServiceReference/AdminWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllEvents">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEventsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCommissionRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eventId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newCommissionRate" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCommissionRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCommissionRateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eventid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteEventResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartners">
        <s:complexType />
      </s:element>
      <s:element name="GetPartnersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartnersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePartnerByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePartnerByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePartnerByEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="GetAllEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCommissionRateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCommissionRate" />
  </wsdl:message>
  <wsdl:message name="UpdateCommissionRateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCommissionRateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEventSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="DeleteEventSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartnersSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartners" />
  </wsdl:message>
  <wsdl:message name="GetPartnersSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartnersResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePartnerByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePartnerByEmail" />
  </wsdl:message>
  <wsdl:message name="DeletePartnerByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePartnerByEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminWebServicesSoap">
    <wsdl:operation name="GetAllEvents">
      <wsdl:input message="tns:GetAllEventsSoapIn" />
      <wsdl:output message="tns:GetAllEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCommissionRate">
      <wsdl:input message="tns:UpdateCommissionRateSoapIn" />
      <wsdl:output message="tns:UpdateCommissionRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input message="tns:DeleteEventSoapIn" />
      <wsdl:output message="tns:DeleteEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartners">
      <wsdl:input message="tns:GetPartnersSoapIn" />
      <wsdl:output message="tns:GetPartnersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePartnerByEmail">
      <wsdl:input message="tns:DeletePartnerByEmailSoapIn" />
      <wsdl:output message="tns:DeletePartnerByEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminWebServicesSoap" type="tns:AdminWebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tempuri.org/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCommissionRate">
      <soap:operation soapAction="http://tempuri.org/UpdateCommissionRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartners">
      <soap:operation soapAction="http://tempuri.org/GetPartners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePartnerByEmail">
      <soap:operation soapAction="http://tempuri.org/DeletePartnerByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminWebServicesSoap12" type="tns:AdminWebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEvents">
      <soap12:operation soapAction="http://tempuri.org/GetAllEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCommissionRate">
      <soap12:operation soapAction="http://tempuri.org/UpdateCommissionRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap12:operation soapAction="http://tempuri.org/DeleteEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartners">
      <soap12:operation soapAction="http://tempuri.org/GetPartners" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePartnerByEmail">
      <soap12:operation soapAction="http://tempuri.org/DeletePartnerByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminWebServices">
    <wsdl:port name="AdminWebServicesSoap" binding="tns:AdminWebServicesSoap">
      <soap:address location="https://localhost:44320/AdminWebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminWebServicesSoap12" binding="tns:AdminWebServicesSoap12">
      <soap12:address location="https://localhost:44320/AdminWebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>